.toy-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
}

.toy-preview {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;

}

.toy-detail-preview {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.editing-toy-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}